<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iteso.ruben.proyectoversion1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityMain" />
        <activity android:name=".ActivitySelect" />
        <activity android:name=".ActivityGetUserDAta" />
        <activity android:name=".ActivityDummy" />
        <activity android:name=".ActivitySplash" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".ActivityHome" />
        <activity android:name=".ActivitySleep"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ActivityWater"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>